.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: aqua; */
  /* background-image: url("https://img.freepik.com/free-vector/dark-gradient-background-with-copy-space_53876-99548.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1723680000&semt=ais_hybrid"); */
  background-size: cover;
  background-image: url("../public/bg.avif");
  height: 100vh;
  flex-direction: column;
  background-repeat: no-repeat;
  gap: 30px;
}

table th,
td {
  border: 1px solid gray;
  width: 130px;
  height: 35px;
  color: white;
}


table td {
  text-align: center;
}

.formDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}


.formDiv input {
  width: 300px;
  height: 35px;
  font-size: 22px;
  padding: 0 5px;
}

.formDiv button {
  width: 200px;
  height: 35px;
  font-size: 19px;
  padding: 0 5px;
}



.buttons :nth-child(1) {
  background-color: red;
  color: white;
  margin: 5px;
  border: none;
}

.buttons :nth-child(2) {
  background-color: green;
  color: white;
  border: none;
}